<div class="text-center border p-4 pb-4 ml-lg-4">
  <div class="mb-2">
    <%= profile_picture @agent %>
  </div>
  <h3 class="h4 m-0"><%= @agent.full_name %></h3>
  <p><%= @agent.company %></p>
  
  <div class="row">
    <div class="col-12">
      <button class="btn btn-block btn-info text-uppercase mb-3" id="show-tel" data-telephone="<% @agent.telephone %>"><svg height="1.5em" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" class="svg-inline--fa fa-phone fa-w-16 mr-2" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><span>Call</span></button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 pr-1">
      <%= link_to "Profile", profile_path(@agent.id), class: "btn btn-secondary btn-block text-uppercase" %> 
    </div>
    <div class="col-md-6 pl-1">
      <button class="btn btn-block btn-success text-uppercase" data-toggle="modal" data-target="#contact-modal"> Email </button>
    </div>
  </div>
</div>
